
/* Error message */
.error-message {
    color: rgba(206, 19, 19, 0.934);
    font-size: 14px;
    margin-top: 5px;
  }
  
  .user__container {
    background-color: hsl(214, 100%, 15%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .container {
    width: 90%;
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container h2 {
    text-align: center;
    color: #2f6fefb4;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width: 480px) {
    .container {
      width: 95%;
      padding: 15px;
    }
  }
  
  
  
  
  